.events-layer {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.9;

    .bbox {
        position: absolute;
        border: solid 1px darkblue;
        background-color: #5D9CEC;
    }
}
