@import "../../shared/geometry-settings";

.grid {
    position: absolute;
    top: 0;
    left: 0;

    .hour-row {
        height: $hourHeight;


        .day {
            display: inline-block;

            position: relative;
            width: $dayWith;
            height: $hourHeight;

            border-right: solid $borderColor $borderWidth;
            border-bottom: solid $borderColor $borderWidth;
        }
    }
}
