<div class="page-layout">
    <div class="week-selector">
        <div class="page-title">
            Расписание
        </div>
    </div>
    <div class="filters">
        Здесь будут фильтры
    </div>
    <div class="corner">

    </div>
    <div class="weekdays">
        <div class="scroll-container"
             (scroll)="syncHorizontalScroll(grid, days, SCROLL_SOURCE_AXIS)"
             #days
        >
            <app-calendar-weekdays-axis
                [coordsConverter]="coordsConverter"
                [settings]="settings"
            ></app-calendar-weekdays-axis>
        </div>
    </div>
    <div class="hours">
        <div class="scroll-container"
             (scroll)="syncVerticalScroll(grid, hours, SCROLL_SOURCE_AXIS)"
             #hours
        >
            <app-calendar-hours-axis
                [coordsConverter]="coordsConverter"
                [settings]="settings"
            ></app-calendar-hours-axis>
        </div>
    </div>
    <div class="grid"
         (scroll)="syncScroll(grid, days, hours, SCROLL_SOURCE_GRID)"
         #grid
    >
        <div
            class="container"
            [ngStyle]="coordsConverter.getLayoutDimensionsStyle()"
        >
            <app-calendar-grid
                [settings]="settings"
                [coordsConverter]="coordsConverter"
            ></app-calendar-grid>

            <app-calendar-invitations [coordsConverter]="coordsConverter"></app-calendar-invitations>
        </div>
    </div>
</div>
