@import "../../shared/geometry-settings";

.page-layout {
    width: $pageWidth;
    max-width: 100%;
    max-height: 100vh;
    display: grid;

    overflow: hidden;

    grid-template-columns: $hoursScrollerWidth 1fr;
    grid-template-rows: $weekSelectorHeight $filtersHeight $weekdaysScrollerHeight 1fr;

    grid-template-areas:
        "weekSelector weekSelector"
        "filters filters"
        "corner weekdaysScroller"
        "hoursScroller calendarGrid"
    ;

    .week-selector {
        grid-area: weekSelector;
        overflow: hidden;

        position: relative;

        border-bottom: solid $borderWidth $borderColor;
    }

    .filters {
        grid-area: filters;
        overflow: hidden;

        padding: 0 24px;
        line-height: $filtersHeight;
        vertical-align: middle;

        font-size: 14rem;

        color: #969B9E;

        border-bottom: solid $borderWidth $borderColor;
    }

    .corner {
        grid-area: corner;
        overflow: hidden;
    }

    .weekdays {
        grid-area: weekdaysScroller;
        overflow-x: auto;
        overflow-y: hidden;

        .scroll-container {
            width: 100%;
            height: $weekdaysScrollerHeight + 50px;

            overflow-x: auto;
            overflow-y: hidden;

            .axis {
                position: relative;
                height: $weekdaysScrollerHeight;
            }
        }
    }

    .hours {
        grid-area: hoursScroller;
        overflow: hidden;

        .scroll-container {
            width: $hoursScrollerWidth + 50px;
            height: 100%;

            overflow-x: hidden;
            overflow-y: auto;

            .axis {
                position: relative;
                width: $hoursScrollerWidth;
            }
        }
    }

    .grid {
        grid-area: calendarGrid;
        overflow-x: auto;
        overflow-y: auto;

        .container {
            position: relative;
            overflow: hidden;

            .layer-events {
                position: absolute;
                top: 0;
                left: 0;

                &.layer-events-obligatory {
                    opacity: 0.4;
                }

                &.layer-events-mandatory {
                    opacity: 0.9;
                }
            }
        }
    }

    .page-title {
        font-size: 28rem;
        line-height: 1;
        color: #242D34;

        position: absolute;

        left: 22px;
        bottom: 18px;
    }
}
