<div class="bounding-rect"
     [ngSwitch]="event.type"
     [ngStyle]="{
            top: boundingRect.top + 'px',
            left: boundingRect.left + 'px',
            width: boundingRect.width + 'px',
            height: boundingRect.height + 'px'
         }"
>
    <app-calendar-event-meeting *ngSwitchCase="eventType.TYPE_MEETING"
                                [boundingRect]="boundingRect"
                                [event]="event"
    ></app-calendar-event-meeting>

    <app-calendar-event-class *ngSwitchCase="eventType.TYPE_CLASS"
                                [boundingRect]="boundingRect"
                                [event]="event"
    ></app-calendar-event-class>

    <app-calendar-event-generic *ngSwitchDefault
                                [boundingRect]="boundingRect"
                                [event]="event"
    ></app-calendar-event-generic>
</div>
