<div class="axis"
     [ngStyle]="getAxisPositionStyle()"
>
    <div *ngFor="let day of coordsConverter.getSettings().getDaysVisible()"
         class="cell" [ngClass]="{'current': isToday(day)}"
         [ngStyle]="getDayPositionStyle(day)"
    >
        <div class="month"
             *ngIf="day === firstDayVisible || day.getMonth() !== firstDayVisible.getMonth()"
        >
            {{ day | date : 'MMMM' }}
        </div>
        <div class="weekday">{{ day | date : 'd, EEEEEE' }}</div>
    </div>
</div>
