@import "../../shared/geometry-settings";

.hour {
    width: $hoursScrollerWidth;
    height: $hourHeight;
    position: relative;

    .label {
        position: absolute;
        top: $hourHeight/2 - 8px;
        right: -0.5rem;
        color: #7B828C;
        transform: rotate(-90deg);
    }

    border-right: solid $borderWidth $borderColor;
    border-bottom: solid $borderWidth white;
}

