@import "../../shared/geometry-settings";

.axis {
    position: relative;
    width: $hoursScrollerWidth;

    .hour {
        width: $hoursScrollerWidth;
        position: absolute;

        .label {
            position: absolute;

            top: 50%;
            margin-top: -8px;

            right: -0.5rem;
            color: #7B828C;
            transform: rotate(-90deg);
        }

        border-right: solid $borderWidth $borderColor;
        border-bottom: solid $borderWidth white;
    }
}
