<div class="invitations" [ngStyle]="coordsConverter.getLayoutDimensionsStyle()">
    <div *ngFor="let event of visibleEvents"
         class="bbox"
         [ngStyle]="{
            top: coordsConverter.getBoundingRect(event.startAt, event.durationSeconds).top + 'px',
            left: coordsConverter.getBoundingRect(event.startAt, event.durationSeconds).left + 'px',
            width: coordsConverter.getBoundingRect(event.startAt, event.durationSeconds).width + 'px',
            height: coordsConverter.getBoundingRect(event.startAt, event.durationSeconds).height + 'px'
         }"
    >
        E
    </div>
</div>
