<div class="page-layout">
    <div class="week-selector">
        <div class="page-title">
            Расписание
        </div>
    </div>
    <div class="filters">
        Здесь будут фильтры
    </div>
    <div class="corner">

    </div>
    <div class="weekdays">
        <div class="scroll-container"
             (scroll)="syncHorizontalScroll(grid, days, SCROLL_SOURCE_AXIS)"
             #days
        >
            <div class="axis" [ngStyle]="{width: layout.dimensions.width + 'px'}">
                <app-calendar-weekdays-axis
                    [ticks]="layout.horizontalAxisTicks"
                    [settings]="settings"
                ></app-calendar-weekdays-axis>
            </div>
        </div>
    </div>
    <div class="hours">
        <div class="scroll-container"
             (scroll)="syncVerticalScroll(grid, hours, SCROLL_SOURCE_AXIS)"
             #hours
        >
            <div class="axis" [ngStyle]="{height: layout.dimensions.height + 'px'}">
                <app-calendar-hours-axis
                    [ticks]="layout.verticalAxisTicks"
                    [settings]="settings"
                ></app-calendar-hours-axis>
            </div>
        </div>
    </div>
    <div class="grid"
         (scroll)="syncScroll(grid, days, hours, SCROLL_SOURCE_GRID)"
         #grid
    >
        <div
            class="container"
            [ngStyle]="coordsConverter.getLayoutDimensionsStyle()"
        >
            <app-calendar-grid
                [settings]="settings"
                [coordsConverter]="coordsConverter"
            ></app-calendar-grid>

            <div class="layer-events layer-events-obligatory">
                <app-calendar-layer-events
                    [events]="layout.invitations"
                    (clickAction)="handleClickAction($event)"
                ></app-calendar-layer-events>
            </div>

            <div class="layer-events layer-events-mandatory">
                <app-calendar-layer-events
                    [events]="layout.events"
                    (clickAction)="handleClickAction($event)"
                ></app-calendar-layer-events>
            </div>

            <div class="layer-events layer-events-slots">
                <app-calendar-layer-events
                    [events]="layout.slots"
                    (clickAction)="handleClickAction($event)"
                ></app-calendar-layer-events>
            </div>
        </div>
    </div>
</div>

<app-calendar-modal
    *ngIf="isModalVisible"
    [event]="modalEvent"
    (close)="hideModal()"
></app-calendar-modal>
