.box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;

    border-radius: 5px;
    background-color: #F1EEFA;
    border-left: solid 4px #7754D1;

    padding: 8px;

    .title {
        overflow: hidden;

        color: #333;

        font-size: 12rem;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .comment, .time {
        margin-top: 2px;
        overflow: hidden;

        color: #333;

        font-size: 10rem;
    }

    .nobr {
        white-space: nowrap;
    }
}
